@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Poppins:wght@300&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style: none;
}

nav{
    color: pink;
    background-color: rgb(63, 77, 77);
    height: 7vh;
    font-size: 28px;
    display: flex;
    align-items: center;
    padding:0px 12px;    
    font-family: 'Poppins', sans-serif;
}
.gamecontainer{
    
    display: flex;
    justify-content: center;
    padding-top: 50px ;
    height: 93vh;
    background-color: rgb(96, 42, 182);
}
.container .line{
    background-color: rgb(170, 160, 12);
    width: 0vw;/*when appears after game won its width is 3/2 times width for 3child boxes of container */
    height: 5.3px;
    position: absolute;
    transition: width 2s ease-in 0s;
}
.container{
    display: grid;
    grid-template-rows: 10vw 10vw 10vw;
    grid-template-columns: 10vw 10vw 10vw;
    font-family: 'Poppins', sans-serif;
}
.container .box{
    border: 2px solid rgb(12, 27, 112);
    font-size: 8vw;
    text-align: center;

}
.container .box:hover{
    background-color: rgb(219, 142, 230);
    cursor: pointer;
}
.gameinfo{
    padding: 34px;
    font-family: 'Baloo Bhai 2', cursive;
}
button{
    background-color: rgb(233, 187, 214);
    border-radius: 17px;
    width: 65px;
    height: 35px;
    border: 1px solid black;
}
button:hover{
    cursor: pointer;
    background-color: rgb(143, 134, 139);
}
.imgbox img{
    width: 0;
    /* make it invisible */
    transition:width 2s ease-in 0s;
}
/*UTILITY CLASES START*/
.br-0{
    border-right: 0px !important;
}
.bl-0{
    border-left: 0px !important;
}
.bt-0{
    border-top: 0px !important;
}
.bb-0{
    border-bottom: 0px !important;
}
/*UTILITY CLASSES ENDS*/
/* ADDING RESPONSIVENESS */
@media screen and (max-width:800px) {
    .gamecontainer{
        flex-wrap: wrap;
        /* height:130vh */
    }
    .container{
        grid-template-rows: 20vw 20vw 20vw;
        grid-template-columns: 20vw 20vw 20vw;
    
    }
    .container .line{
        width: 0vw;/*equal to half 10*3 for 3child boxes of container*/
    }
    .boxtext{
        font-size: 13vw;
    }
    .gameinfo{
        margin-top: 34px;
        text-align:  center;
    }
    .gameinfo div #reset{
        position: relative;
        margin: auto;
    }
    .info{
        font-size: 20px;

    }
}